.contact{
  height: 350px;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: space-around;
  position: relative;
}
.contact_content{
  justify-content: space-around;
  height: 100%;
  align-items: center;
}
.contact_content_subtitle {
    width: 80%;
    font-size: 18px;
    font-weight: 300;
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-bottom: 50px; 
}
.contact_content_form{
  width: 300px;
  box-shadow: 0 0 20px 1px rgba(0,0,0,0.1);
  box-sizing: initial;
  padding: 30px;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  margin-top: 150px; 
}
.contact_support .text{
  margin: 12px 0;
  display: flex;
  align-items: center;
}
.contact_support .text i{
  margin-right: 8px;
  color: #4880DF;
}
      .contact_content_form input {
        border: 1px solid #4880DF;
        margin: 5px 0;
        display: inline-block;
        width: 100%;
        height: 40px;
        color: rgba(0,0,0,0.5);
        box-sizing: border-box;
        padding: 10px;
      }
      .inputContainer img {
        height: 30px;
        width: 30px;
        position: absolute;
        top: 5px;
        right: 6px;
      }
      textarea {
        display: block;
        width: 100%;
        height: 120px;
        border: 1px solid #4880DF;
        color: rgba(0,0,0,0.5);
        box-sizing: border-box;
        margin: 5px 0;
        padding: 10px;
      }
      .contact_content2 .first {
        font-size: 18px;
        font-weight: 500;
        display: block;
      }
      .contact_content2 a{
        display: block;
        text-decoration: none;
        color: #006ecb;
      }
      .contact_content2 .second {
        color: rgba(0,0,0,0.5);
        font-size: 16px;
        font-weight: 300;
      }
      .contact_content2 .contact_content2_support, .contact_content2 .contact_content2_foster {
        text-align: center;
        width: 40%;
      }
      .contact_content2 .contact_content2_foster img {
        width: 100px;
        height: 50px;
      }
      .error {
        --iron-icon-fill-color: var(--main-red-color);
        margin-right: 30px;
        --iron-icon-width: 25px ;
        --iron-icon-height: 25px ;
      }
      .success {
        --iron-icon-fill-color: #4caf50;
        margin-right: 30px;
        --iron-icon-width: 25px ;
        --iron-icon-height: 25px ;
      }
      @media only screen and (max-width: 800px) {
        .contact{
          height: auto;
        }
        .contact_content{
          flex-direction: column;
          justify-content: center;
          padding: 30px 0px;
        }
        .contact_content_form{
          margin-top: 30px;
        }
      }
      @media only screen and (max-width: 600px) {
        .formContainer, .contact_content2 {
          width: 95%;
        }
        .formContainer {
          height: 65%;
        }
        .contact_content2 .contact_content2_support {
          width: 50%;
        }
        .formContainer .contact_content_form {
          width: 95%;
        }
        .contact_content2 {
          padding: 10px;
        }
        .btn {
          margin-contact_content2: 10px;
        }
      }
      @media only screen and (max-width: 450px) {
        .contact_content2 {
          -ms-flex-direction: column !important;
          -webkit-flex-direction: column !important;
          flex-direction: column !important;
        }
        .contact_content2 .contact_content2_support, .contact_content2 .contact_content2_foster {
          -ms-flex-direction: row;
          -webkit-flex-direction: row;
          flex-direction: row;
        }
        .contact_content2 .contact_content2_foster {
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -ms-flex-wrap: wrap;
          -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
        }
        .contact_content2 .contact_content2_support, .contact_content2 .contact_content2_foster {
          width: 100%;
        }
        .contact_content2 .contact_content2_support .first, .contact_content2 .contact_content2_foster iron-image {
          width: 30%;
        }
        .contact_content2 .contact_content2_support .second, .contact_content2 .contact_content2_foster .second {
          width: 70%;
          padding-left: 10px;
        }
        .contact_content2 a {
          margin: 0 auto;
        }
        .contact_content2 .contact_content2_foster .second {
          padding-top: 10px;
        }
        .contact_content2 .first {
          font-size: 16px;
          font-weight: 400;
        }
        .contact_content2 .second {
          font-size: 13px;
          line-height: normal;
        }
      }