.hero{
	height: 550px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
}
.hero_background{
	position: absolute;
	top: 0;
	max-width: 2000px;
	width: 100vw;
	height: 800px;
	background-image: url("http://komercia.co/padmin/images/fondolanding.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center;
	z-index: -1;
}
.hero_header{
	width: 85%;
	display: flex;
	justify-content: space-between;
	padding: 0px 50px;
	background-color: #FFF;
	box-shadow: 0 1px 5px 1px rgba(0,0,0,0.2);
	position: fixed;
	z-index: 3;
	margin-top: 10px;
}
.header_logo{
	height: 60px;
	display: flex;
	align-items: center;
}
.header_navigation{
	height: 60px;
}
.navigation_items{
	height: 100%;
	display: flex;
	font-size: 14px;
}
.navigation_items_item{
	height: 100%;
	display: flex;
	align-items: center;
	list-style: none;
}
.navigation_items_item a{
	margin: 0px 10px;
	display: flex;
	align-items: center;
	text-decoration: none;
	cursor: pointer;
	color: black;
}
.hero_content{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 160px; 
}
.hero_content h2{
	max-width: 560px;
	font-size: 38px;
	font-weight: 500;
}
.hero_content h2 span{
	color: #e8253c;
}
.hero_content p{
	max-width: 560px;
	font-size: 16px;
    font-weight: 300;
    margin: 30px 0px 80px 0px
}
.hero_content > span{
    width: 200px;
	font-size: 12px;
	margin: 10px 0px 10px 0px;
}
.hero_content_callToAction{
	display: flex;
	box-shadow: 0 0 5px 1px rgba(14, 54, 0, 0.2);
}
.hero_content_callToAction input{
	padding: 10px;
	width: 210px;
	border: 1px solid #2DBE60;
}
@media (max-width: 1000px){
	.hero{
		padding: 0px 40px;
	}
}
@media only screen and (max-width: 750px) {
	.hero{
		padding: 0px 15px !important;
	}
	.hero_header{
		display: flex;
		flex-direction: column;
	}
	.header_logo, .navigation_items{
		justify-content: center;
	}
	.hero_content{
		margin: 0px;
		padding: 170px 0 0 0; 
	}
	.hero_content_callToAction{
		width: 100%;
	}
	.hero_content h2{
		font-size: 26px;
		margin-bottom: 40px; 
	}
}
@media (max-width: 600px) {
	.hero_header{
		width: 100%;
		margin-top: 0px;
	}
}
@media (max-width: 550px) {
	.hero{
		height: 500px;
	}
	.hero_background{
		height: 500px;
	}
	.hero_content p{
		display: none;
	}
}
@media (max-width: 500px) {

}