html, *, *:before, *:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
  outline: none;
}

.container{
  max-width: 1600px;
  width: 100%;
  display: flex;
  padding: 0px 100px;
  margin: 0 auto;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

main{
	width: 100%;
  overflow-x: hidden;
	display: flex;
	align-items: center;
	flex-direction: column;
  color: rgba(0, 23, 65, 0.82);
}
section{
	width: 100%;
}
.thirdSection{
	background-color: gray;
}
.fourthSection{
	background-color: yellow;
}
.subtitle{
  font-size: 15px;
}
.text{
  font-size: 14px;
}
.detail{
  font-size: 13px;
  font-weight: 200;
}
.c4880DF{ 
  color: #4880DF;
}

.cEF253C{ /* Rojo Komercia */
  background-color: #EF253C;
}

@media (max-width: 800px){
  .container{
    overflow: hidden;
  }
}